body {
    margin: 0;
    background-color: #1F2937;
}

.header , .footer{          /* Container */
    background-color: #151d27;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding-bottom: 3em;
}

.wrapper {
    display: flex;
    flex-direction: row;
    border: 2px solid salmon;
    margin: 2em;
    gap: 1rem;
    justify-content: flex-end;
}

 .header-link{
    font-size: 18px;
    color: #8892b0;
    font-family: roboto-thin;
    padding: 2px;
    border: 2px solid greenyellow;


}

.header-logo {   /* Jeff Jacob Portfolop v1 */
    font-size: 24px;
    color: #ccd6f6;
    font-family: roboto-bold;
    border: 2px solid red;
    margin-right: auto;

}

.header-main {      /* Jeff Jacob */
    font-size: 48px;
    font-family: roboto-bold;
    color: #ccd6f6;
    border: 2px solid red;
}

.header-sec {     /* self-taught ... */
    font-size: 18px;
    color: #8892b0;
    font-family: roboto-thin;
    padding: 2px;
    border: 2px solid greenyellow;

}

h1 {
    font-size: 18px;
    color: #E5E7EB;
    font-family: roboto-thin;
    padding: 2px;
    border: 2px solid greenyellow;

}

.wrap-head {
    margin:auto;
}

/* About */

.about {        /* Container */
    display: flex;
    justify-content: center;
    padding: 3em;
    background-color: #171f2a;
    
}

.about-me {
    font-size: 26px;
    font-family: roboto;
    color: #ccd6f6;
    border: 2px solid blue;
}


/* Projects*/

.mid-section {     /* Container */
    display: flex;
    flex-direction: column;
    
}

.wrap-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.project {
    max-width: 200px;
}

.mid-main {
    font-size: 36px;
    color: #ccd6f6;
    font-family: roboto-bold;
    border: 2px solid salmon;
    margin: auto;
    padding: 1em;

}

.mid-sub {
    font-size: 18px;
    font-family: roboto-thin;
    color:#8892b0;
    border: 2px solid black;
    padding: 1em;

}

.project-image {
    border: 2px solid blueviolet;
    height: 150px;
    width: 150px;
}

/* Contact */

.contact {      /* Container */
    background-color: #2c3a4f;
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.call {
    font-size: 24px;
    font-family: roboto;
    color:#ccd6f6;
    border: 2px solid salmon;
    margin: auto;
}

.sub {
    font-size: 18px;
    font-family: roboto-thin;
    color: #8892b0;
    border: 2px solid purple;
    margin: auto;
}

/* Footer */

.footer {
    font-size: 18px;
    font-family: roboto-thin;
    color: #E5E7EB;
    align-items: center;
    margin-top: auto;
    padding: 2px;
    border: 2px solid springgreen;
}









